body
{background-color: rgb(225, 248, 255);
    background-image: linear-gradient(rgb(142, 236, 243), rgb(115, 168, 218));
color: rgb(3, 45, 180);
}
h1{
    font-family: cursive;
    color: rgb(2, 13, 107);
    font-size: 5rem;
    text-align: center;
}
img{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
     margin:auto ;
     border-radius: 25px;
     box-shadow: rgb(3, 127, 251) 4px 4px;
}
p{
    width: 60%;
    font-size: 2rem;
    font-weight: 800;
    display:flex;
    margin:auto;
    text-align: justify;
}
h2{
    color:rgb(2, 53, 255);
    text-shadow: rgb(163, 207, 243)4px 4px;
    text-align: center;
    font-size: 2.5rem;
}

ul{
    text-align: center;
    list-style-type: none;
    font-size: 2rem;
}
.autoria{
    text-align: left;
}
.texto-autoria{
    text-align: left;
}
.cabecalho{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    gap:20ex;
    font-size: 1.5rem;
    color:aqua;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;


}
a:hover{
    color:blueviolet;
    font-style: italic;
}